.slider-container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.slide {
    position: relative;
    outline: none;
    height: 100%;
}

.slide-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


/* Remove any padding/margins that might affect height */

.slick-list,
.slick-track,
.slick-slide>div {
    height: 100%;
}